server:
  servlet:
    context-path: /
  port: 8080

spring:
  application:
    name: barbershop-api

  jackson:
    default-property-inclusion: non_null

  datasource:
    url: jdbc:h2:file:./data/barbershopdb;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
